:root {
  --color-green: #22c55e;
  --box-shadow-green: 0 5px 12px rgba(34, 197, 94, 0.5);
  --color-red: #ef4444;
  --box-shadow-red: 0 5px 12px rgba(239, 68, 68, 0.5);
  --color-blue: #0ea5e9;
  --box-shadow-blue: 0 5px 12px rgba(14, 165, 233, 0.3);
  --box-shadow-black: 0 3px 12px rgba(0, 0, 0, 0.2);
  --color-slate-accent: #f1f5f9;
  --color-white: #fff;
  --color-black: #000;
  --color-slate: #e2e8f0;
  --color-orange: #f97316;
  --color-light-green: #4ade80;
  --color-light-blue: #7dd3fc;
  --color-light-grey: #f8fafc;
  --color-grey: #d1d5db;
  --padding-desktop: 40px 65px;
  --padding-mobile: 40px 25px;
}

* {
  margin: 0;
  padding: 0;
}
