.userprofile-container {
  box-shadow: var(--box-shadow-black);
  width: 200px;
  text-align: center;
  border-radius: 15px;
  padding: 8px 11px;
  position: relative;
  padding-bottom: 12px;
}

.userprofile-info-container img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-white);
  padding: 10px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.userprofile-info-container p {
  font-family: "Open Sans";
  margin-top: 40px;
}

.cover-container {
  height: 130px;
  border-radius: 15px;
  text-align: left;
}

.cover-container h3 {
  color: var(--color-white);
  font-family: "Roboto";
  font-size: 18px;
  position: relative;
  left: 6px;
  top: 10px;
}

.cover-container p {
  color: var(--color-white);
  font-family: "Open Sans";
  font-size: 14px;
  position: relative;
  left: 6px;
  top: 15px;
}

.bell-container {
  position: absolute;
  right: 10px;
  top: 22px;
}

.bell-container i {
  font-size: 25px;
  color: var(--color-white);
}

.bell-container span {
  font-family: "Roboto";
  background: var(--color-red);
  box-shadow: var(--box-shadow-red);
  color: var(--color-white);
  padding: 2px 4px;
  border-radius: 10px;
  border: 2px solid var(--color-white);
  font-size: 10px;
  position: relative;
  left: -8px;
}

.find-friend-btn {
  background: transparent;
  color: var(--color-white);
  font-family: "Roboto";
  border: none;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 750px) {
  .userprofile-container {
    width: 100%;
  }

  .bell-container {
    top: 18px;
  }

  .bell-container i {
    font-size: 30px;
  }

  .find-friend-btn {
    padding: 4px 6px;
    margin-top: 5px;
    background: var(--color-red);
    box-shadow: var(--box-shadow-red);
    color: var(--color-white);
    border-radius: 5px;
    font-family: "Roboto";
    border: none;
    outline: none;
    text-decoration: none;
  }
}
