.main-records-container {
  padding: var(--padding-desktop);
}

.records-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.records-header h1 {
  font-family: "Pacifico";
  font-size: 45px;
}

.add-records-btn {
  width: 60px;
  height: 60px;
  background: var(--color-blue);
  font-size: 34px;
  color: var(--color-white);
  box-shadow: var(--box-shadow-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 7;
  transition: 0.3s;
}

.close-add-records-btn {
  width: 60px;
  height: 60px;
  background: var(--color-red);
  font-size: 34px;
  color: var(--color-white);
  box-shadow: var(--box-shadow-red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 7;
  transform: rotate(45deg);
  transition: 0.3s;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.add-card-container {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.component-container {
  position: relative;
}

@media (max-width: 750px) {
  .main-records-container {
    padding: var(--padding-mobile);
  }

  .add-records-btn {
    position: fixed;
    bottom: 140px;
    right: 30px;
  }

  .close-add-records-btn {
    position: fixed;
    bottom: 140px;
    right: 30px;
  }

  .cards-container {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
